[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "third_party/IconFontCppHeaders"]
	path = third_party/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
	branch = main
[submodule "third_party/ImGuizmo"]
	path = third_party/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
	branch = master
[submodule "third_party/implot"]
	path = third_party/implot
	url = https://github.com/epezent/implot.git
	branch = master
[submodule "third_party/implot3d"]
	path = third_party/implot3d
	url = https://github.com/brenocq/implot3d.git
	branch = main
